body{
    margin: 0;
    background-image: url(/images/background_img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position:  center;
    
}

.main{
    display: flex ;
    flex-direction: column;
}

input{
  width: 60%;
  height: 60px;
  border: 3px solid rgb(218, 23, 175);
  border-radius: 20px;
}

.search{
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-top: 30px;


}

#cover{
    height: 500px;
    width: 100%;
    background-image: url(https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/wfyzexka/ddaccffd-6ecd-4832-9c0d-ea8901b33a3f.jpg
);
    background-repeat: no-repeat;
    background-size: cover;
}

.meals{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  
}


#resultant{
  display: flex;
  flex-direction: row;


}


.button{
  color: black;
  text-decoration: none;
  
}


.container{
  display: flex;
  flex-direction: row;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px;
}




.container{
    margin-top: 30px;
}
.container a{
  text-decoration: none;
  color:black;
}
.container a:hover{
  color:white;
}

.subcontainer{
    display: flex;
    flex-direction: column;
}

.input-group{
  margin-left:600px;
}

/* for button */



.deconstructed {
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;;
    height: 50px;
    color: transparent;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
  }
  
  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    pointer-events: none;
  }
  
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
  }
  
  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
  }
  
  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
  }
  
  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }

 

  .card-img-top:hover{
    transform: scale(1.05);
    transition: transform .5s;
  }

.meal{
    height: 50px;
    background-color: rgb(245, 245, 245);
    
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(184, 26, 105);
    border-radius: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.meal:hover{
    background-color: rgb(184, 26, 105);
    transform: rotate(-3deg);
    color: white;
}

.row{
    display: flex;
    flex-direction: row;
}




.footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
 
}

.foot{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: black;
}




.col{
    
    margin:20px;
    height: 400px;
}



#resultant img{
  height: 250px;

}


.foot:hover{
    color:white;
}

#one:hover{
    background-color: #1A8AAD;
}

#two:hover{
    background-color: rgb(255, 0, 179);
}
#three:hover{
    background-color: rgb(255, 196, 0);
}
#four:hover{
    background-color: rgb(255, 0, 34);
}


#resultant {
  display: flex;
  justify-content: center;
  /* row-gap: 35px; */
  column-gap: 120px;
 

}




.meals{
  margin-top: 60px;
}



@media only screen and (max-width: 600px) {


  /* .deconstructed{
    color: black;
  } */

  .deconstructed div{
    color: black;
  }

}













